# Intro to Recommender Systems Lab

Complete the exercises below to solidify your knowledge and understanding of recommender systems.

For this lab, we are going to be putting together a user similarity based recommender system in a step-by-step fashion. Our data set contains customer grocery purchases, and we will use similar purchase behavior to inform our recommender system. Our recommender system will generate 5 recommendations for each customer based on the purchases they have made.

In [2]:
import pandas as pd
from scipy.spatial.distance import pdist, squareform

In [3]:
data = pd.read_csv('../data/customer_product_sales.csv')

In [4]:
data.head()
data

,CustomerID,FirstName,LastName,SalesID,ProductID,ProductName,Quantity
0,61288,Rosa,Andersen,134196,229,Bread - Hot Dog Buns,16
1,77352,Myron,Murray,6167892,229,Bread - Hot Dog Buns,20
2,40094,Susan,Stevenson,5970885,229,Bread - Hot Dog Buns,11
3,23548,Tricia,Vincent,6426954,229,Bread - Hot Dog Buns,6
4,78981,Scott,Burch,819094,229,Bread - Hot Dog Buns,20
...,...,...,...,...,...,...,...
68579,94547,Gerald,Donovan,687884,211,Wine - Prosecco Valdobiaddene,24
68580,57654,Lashonda,Roy,4373415,211,Wine - Prosecco Valdobiaddene,15
68581,36751,Glen,Frederick,2405597,211,Wine - Prosecco Valdobiaddene,10
68582,43270,Devon,Mc Daniel,4328852,211,Wine - Prosecco Valdobiaddene,11
68583,78718,Mandy,Abbott,6175098,211,Wine - Prosecco Valdobiaddene,20

## Step 1: Create a data frame that contains the total quantity of each product purchased by each customer.

You will need to group by CustomerID and ProductName and then sum the Quantity field.

In [5]:
df1=data.groupby(["CustomerID","ProductName"])["Quantity"].sum().reset_index()
df1


#MIRAR RESET INDEX PARA QUE SEA CUSTOMER ID Y BAJAR EL quantity paras que no haya multiindex DROP SALES Y PRODUCT ID

       CustomerID                    ProductName  Quantity
0              33               Apricots - Dried         1
1              33              Assorted Desserts         1
2              33        Bandage - Flexible Neon         1
3              33  Bar Mix - Pina Colada, 355 Ml         1
4              33         Beans - Kidney, Canned         1
...           ...                            ...       ...
63623       98200                   Vol Au Vents        50
63624       98200                  Wasabi Powder        25
63625       98200       Wine - Fume Blanc Fetzer        25
63626       98200  Wine - Hardys Bankside Shiraz        25
63627       98200        Yogurt - French Vanilla        25

[63628 rows x 3 columns]

## Step 2: Use the `pivot_table` method to create a product by customer matrix.

The rows of the matrix should represent the products, the columns should represent the customers, and the values should be the quantities of each product purchased by each customer. You will also need to replace nulls with zeros, which you can do using the `fillna` method.

In [17]:
table = pd.pivot_table(df1,values="Quantity", index='ProductName',columns='CustomerID')
table1=table.fillna(value=0).transpose()
table1

ProductName,Anchovy Paste - 56 G Tube,"Appetizer - Mini Egg Roll, Shrimp",Appetizer - Mushroom Tart,Appetizer - Sausage Rolls,Apricots - Dried,Apricots - Halves,Apricots Fresh,Arizona - Green Tea,Artichokes - Jerusalem,Assorted Desserts,...,"Wine - White, Colubia Cresh","Wine - White, Mosel Gold","Wine - White, Schroder And Schyl",Wine - Wyndham Estate Bin 777,Wonton Wrappers,Yeast Dry - Fermipan,Yoghurt Tubes,"Yogurt - Blueberry, 175 Gr",Yogurt - French Vanilla,Zucchini - Yellow
CustomerID,,,,,,,,,,,,,,,,,,,,,
33,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
200,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
264,0.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0
356,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
412,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,...,0.0,1.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
97928,0.0,0.0,0.0,25.0,0.0,50.0,0.0,25.0,0.0,0.0,...,0.0,25.0,25.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
98069,0.0,0.0,0.0,25.0,0.0,25.0,0.0,0.0,0.0,25.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
98159,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,50.0,0.0,0.0,0.0,0.0,25.0,0.0,0.0,0.0
98185,0.0,0.0,25.0,25.0,0.0,25.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,25.0,0.0,0.0,0.0,0.0,0.0,0.0
98200,0.0,0.0,0.0,0.0,0.0,25.0,25.0,0.0,0.0,25.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,25.0,0.0

In [18]:
table1.index

Int64Index([   33,   200,   264,   356,   412,   464,   477,   639,   649,
              669,
            ...
            97697, 97753, 97769, 97793, 97900, 97928, 98069, 98159, 98185,
            98200],
           dtype='int64', name='CustomerID', length=1000)

In [19]:
table1.columns

Index(['Anchovy Paste - 56 G Tube', 'Appetizer - Mini Egg Roll, Shrimp',
       'Appetizer - Mushroom Tart', 'Appetizer - Sausage Rolls',
       'Apricots - Dried', 'Apricots - Halves', 'Apricots Fresh',
       'Arizona - Green Tea', 'Artichokes - Jerusalem', 'Assorted Desserts',
       ...
       'Wine - White, Colubia Cresh', 'Wine - White, Mosel Gold',
       'Wine - White, Schroder And Schyl', 'Wine - Wyndham Estate Bin 777',
       'Wonton Wrappers', 'Yeast Dry - Fermipan', 'Yoghurt Tubes',
       'Yogurt - Blueberry, 175 Gr', 'Yogurt - French Vanilla',
       'Zucchini - Yellow'],
      dtype='object', name='ProductName', length=452)

## Step 3: Create a customer similarity matrix using `squareform` and `pdist`. For the distance metric, choose "euclidean."

In [20]:
dist_calculation = pdist(X=table1, metric='euclidean')
dist_distribution = squareform(dist_calculation)
euclid_dist = pd.DataFrame(dist_distribution,
                           index=table1.index, 
                           columns=table1.index)

euclid_dist

CustomerID,33,200,264,356,412,464,477,639,649,669,...,97697,97753,97769,97793,97900,97928,98069,98159,98185,98200
CustomerID,,,,,,,,,,,,,,,,,,,,,
33,0.000000,11.916375,10.488088,11.224972,11.401754,11.090537,12.409674,11.045361,11.269428,11.489125,...,206.871941,213.180675,225.656819,198.232187,230.913404,220.501701,217.188858,228.628520,239.000000,229.773802
200,11.916375,0.000000,11.747340,12.083046,12.569805,12.288206,12.165525,12.083046,11.874342,12.000000,...,206.310446,212.635839,224.697575,197.139544,230.952376,220.202180,215.728997,228.010965,239.037654,229.704158
264,10.488088,11.747340,0.000000,11.489125,11.224972,11.445523,12.000000,11.401754,11.180340,11.747340,...,206.387984,212.946003,225.435135,197.600607,230.371439,219.136943,216.612557,228.081126,238.266657,229.773802
356,11.224972,12.083046,11.489125,0.000000,12.083046,11.789826,12.328828,11.135529,11.958261,12.165525,...,206.649462,213.082144,225.452878,197.494304,231.038958,219.952268,217.437347,228.098663,238.493186,229.464594
412,11.401754,12.569805,11.224972,12.083046,0.000000,11.704700,12.328828,11.135529,11.789826,11.747340,...,206.900942,211.679002,225.572605,197.630969,230.614397,219.733930,217.446545,227.997807,238.396728,228.927936
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
97928,220.501701,220.202180,219.136943,219.952268,219.733930,219.599636,219.538152,219.924987,219.827205,220.070443,...,283.945417,283.945417,302.076149,272.717803,278.388218,0.000000,273.861279,291.547595,306.186218,307.205143
98069,217.188858,215.728997,216.612557,217.437347,217.446545,217.425849,216.903204,217.294731,217.080630,216.751009,...,283.945417,283.945417,295.803989,283.945417,285.043856,273.861279,0.000000,287.228132,297.909382,294.745653
98159,228.628520,228.010965,228.081126,228.098663,227.997807,228.197283,228.028507,228.181945,227.868383,228.103047,...,283.945417,279.508497,300.000000,290.473751,300.000000,291.547595,287.228132,0.000000,304.138127,305.163890
98185,239.000000,239.037654,238.266657,238.493186,238.396728,239.006276,238.949786,238.468027,238.692271,239.334494,...,301.039864,315.238005,306.186218,292.617498,314.245127,306.186218,297.909382,304.138127,0.000000,303.108891
98200,229.773802,229.704158,229.773802,229.464594,228.927936,229.017467,229.503813,229.656265,229.997826,229.032749,...,291.547595,297.909382,294.745653,289.395923,303.108891,307.205143,294.745653,305.163890,303.108891,0.000000

In [22]:
euclid_dist_norm = pd.DataFrame(1/(1 + squareform(pdist(table1, 'euclidean'))),
                                index=table1.index,
                                columns=table1.index)

euclid_dist_norm

CustomerID,33,200,264,356,412,464,477,639,649,669,...,97697,97753,97769,97793,97900,97928,98069,98159,98185,98200
CustomerID,,,,,,,,,,,,,,,,,,,,,
33,1.000000,0.077421,0.087047,0.081800,0.080634,0.082709,0.074573,0.083020,0.081503,0.080070,...,0.004811,0.004669,0.004412,0.005019,0.004312,0.004515,0.004583,0.004355,0.004167,0.004333
200,0.077421,1.000000,0.078448,0.076435,0.073693,0.075255,0.075956,0.076435,0.077674,0.076923,...,0.004824,0.004681,0.004431,0.005047,0.004311,0.004521,0.004614,0.004367,0.004166,0.004335
264,0.087047,0.078448,1.000000,0.080070,0.081800,0.080350,0.076923,0.080634,0.082100,0.078448,...,0.004822,0.004674,0.004416,0.005035,0.004322,0.004543,0.004595,0.004365,0.004179,0.004333
356,0.081800,0.076435,0.080070,1.000000,0.076435,0.078187,0.075025,0.082403,0.077171,0.075956,...,0.004816,0.004671,0.004416,0.005038,0.004310,0.004526,0.004578,0.004365,0.004175,0.004339
412,0.080634,0.073693,0.081800,0.076435,1.000000,0.078711,0.075025,0.082403,0.078187,0.078448,...,0.004810,0.004702,0.004414,0.005034,0.004318,0.004530,0.004578,0.004367,0.004177,0.004349
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
97928,0.004515,0.004521,0.004543,0.004526,0.004530,0.004533,0.004534,0.004526,0.004528,0.004523,...,0.003509,0.003509,0.003300,0.003653,0.003579,1.000000,0.003638,0.003418,0.003255,0.003245
98069,0.004583,0.004614,0.004595,0.004578,0.004578,0.004578,0.004589,0.004581,0.004585,0.004592,...,0.003509,0.003509,0.003369,0.003509,0.003496,0.003638,1.000000,0.003469,0.003345,0.003381
98159,0.004355,0.004367,0.004365,0.004365,0.004367,0.004363,0.004366,0.004363,0.004369,0.004365,...,0.003509,0.003565,0.003322,0.003431,0.003322,0.003418,0.003469,1.000000,0.003277,0.003266
98185,0.004167,0.004166,0.004179,0.004175,0.004177,0.004167,0.004168,0.004176,0.004172,0.004161,...,0.003311,0.003162,0.003255,0.003406,0.003172,0.003255,0.003345,0.003277,1.000000,0.003288
98200,0.004333,0.004335,0.004333,0.004339,0.004349,0.004347,0.004338,0.004335,0.004329,0.004347,...,0.003418,0.003345,0.003381,0.003444,0.003288,0.003245,0.003381,0.003266,0.003288,1.000000

## Step 4: Check your results by generating a list of the top 5 most similar customers for a specific CustomerID.

In [34]:
df5=euclid_dist_norm[200].sort_values(ascending=False).head() #generar una funciÃ³n para meter cualquier ID
dfIDtop5=pd.DataFrame(df5)
dfIDtop5

                 200
CustomerID
200         1.000000
3317        0.084959
1072        0.083972
3535        0.082403
1920        0.082100

## Step 5: From the data frame you created in Step 1, select the records for the list of similar CustomerIDs you obtained in Step 4.

In [42]:
list1 = list(dfIDtop5.index)
list1
recordlist= df1[df1['CustomerID'] == list1[0]]
recordlist

     CustomerID                        ProductName  Quantity
59          200         Bacardi Breezer - Tropical         1
60          200                      Bagel - Plain         1
61          200  Bar - Granola Trail Mix Fruit Nut         1
62          200               Beef - Ground Medium         1
63          200     Beef - Montreal Smoked Brisket         1
..          ...                                ...       ...
126         200                  Wiberg Super Cure         1
127         200         Wine - Gato Negro Cabernet         1
128         200             Wine - Ruffino Chianti         1
129         200        Wine - White, Colubia Cresh         1
130         200         Yogurt - Blueberry, 175 Gr         1

[72 rows x 3 columns]

## Step 6: Aggregate those customer purchase records by ProductName, sum the Quantity field, and then rank them in descending order by quantity.

This will give you the total number of each product purchased by the 5 most similar customers to the customer you selected in order from most purchased to least.

In [43]:
df6 = recordlist.groupby(by='ProductName')['Quantity'].sum()
df6= pd.DataFrame(df6)
df6

                                   Quantity
ProductName
Bacardi Breezer - Tropical                1
Bagel - Plain                             1
Bar - Granola Trail Mix Fruit Nut         1
Beef - Ground Medium                      1
Beef - Montreal Smoked Brisket            1
...                                     ...
Wiberg Super Cure                         1
Wine - Gato Negro Cabernet                1
Wine - Ruffino Chianti                    1
Wine - White, Colubia Cresh               1
Yogurt - Blueberry, 175 Gr                1

[72 rows x 1 columns]

## Step 7: Filter the list for products that the chosen customer has not yet purchased and then recommend the top 5 products with the highest quantities that are left.

- Merge the ranked products data frame with the customer product matrix on the ProductName field.
- Filter for records where the chosen customer has not purchased the product.
- Show the top 5 results.

In [48]:
df7 = df1[df1['CustomerID'] == 412]
df7_2 = df6.merge(df7, how='right', on='ProductName').fillna(value=0)
list(df7_2[df7_2['Quantity_x'] == 0.0].sort_values(by='Quantity_y', ascending=False)['ProductName'].head())

['Flavouring - Orange',
 'Sauce - Demi Glace',
 'Spinach - Baby',
 'Ecolab - Lime - A - Way 4/4 L',
 'Pernod']

## Step 8: Now that we have generated product recommendations for a single user, put the pieces together and iterate over a list of all CustomerIDs.

- Create an empty dictionary that will hold the recommendations for all customers.
- Create a list of unique CustomerIDs to iterate over.
- Iterate over the customer list performing steps 4 through 7 for each and appending the results of each iteration to the dictionary you created.

In [ ]:
def getIds():
    return list(step1['CustomerID'].unique())

def top5ById(id_):
    return step3_euclid_dist[id_].sort_values(ascending=False).head()

def top5Indexes(df):
    return list(df.index)

def top5Customers(step1, indexes):
    top5 = step1[step1['CustomerID'] == indexes[0]]
    for i in indexes:
        if i != indexes[0]:
            pass
        top5 = top5.append(step1[step1['CustomerID'] == i],ignore_index=True)

    return top5

def aggregationPurchaseRecords(top5Customers):
    agg = top5Customers.groupby(by='ProductName')['Quantity'].sum()
    agg = pd.DataFrame(agg)
    return agg

def recommendedProducts(step1, id_, agg):
    customer = step1[step1['CustomerID'] == id_]
    rec = agg.merge(customer, how='right', on='ProductName')
    rec = rec.fillna(value=0)
    return list(rec[rec['Quantity_x'] == 0.0].sort_values(by='Quantity_y', ascending=False)['ProductName'].head())

In [ ]:
customers = getIds()
perRecs = {}
for i in customers:
    
    top5 = top5ById(i)
    
    indexes = top5Indexes(top5)
    
    top5Cust = top5Customers(step1, indexes)
    
    
    agg = aggregationPurchaseRecords(top5Cust)
    
    recs = recommendedProducts(step1, i, agg)
    
    perRecs[i] = recs
    
perRecs

##  Step 9: Store the results in a Pandas data frame. The data frame should a column for Customer ID and then a column for each of the 5 product recommendations for each customer.

In [ ]:
recommendations = pd.DataFrame(perRecs)
recommendations = recommendations.transpose()
recommendations

## Step 10: Change the distance metric used in Step 3 to something other than euclidean (correlation, cityblock, consine, jaccard, etc.). Regenerate the recommendations for all customers and note the differences.

In [ ]:
corr_distance = pdist(X=step2, metric='correlation')
corr_distribution = squareform(corr_distance)
corr_dist = pd.DataFrame(corr_distribution,
                           index=step2.index, 
                           columns=step2.index)
def top5ByIdCorr(id_):
    return corr_dist[id_].sort_values(ascending=False).head()
customersCorr = getIds()
perRecsCorr = {}
for i in customers:
    
    top5 = top5ByIdCorr(i)
   
    indexes = top5Indexes(top5)
    
    top5Cust = top5Customers(step1, indexes)
    
    
    agg = aggregationPurchaseRecords(top5Cust)
    
    recs = recommendedProducts(step1, i, agg)

    perRecsCorr[i] = recs
    
perRecsCorr